<div class="alert alert-info" role="alert" v-if="countries.length == 0">
    No countries
</div>

<div class="table-responsive" v-else>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="country in countries">
                <td>{{country.id}}</td>
                <td>{{country.name}}</td>
                <td>{{country.description}}</td>
            </tr>
        </tbody>
    </table>
</div>